force-app/main/default/flows/Generate_PreMob_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Base_Date_And_Lead</name>
        <label>Set Base Date and Project Lead</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>BaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEffectiveBaseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLeadOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fEffectiveProjectLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_00</name>
        <label>Build Task 01: Scope reviewed and clear</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_00.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scope reviewed and clear</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_00</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_00.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A. Financial + Scope</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_00</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_01</name>
        <label>Build Task 02: Margin validated</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_01.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Margin validated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_01.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A. Financial + Scope</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_02</name>
        <label>Build Task 03: Budget loaded</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_02.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Budget loaded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DylanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_02.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A. Financial + Scope</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_03</name>
        <label>Build Task 04: All roles filled</label>
        <locationX>176</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_03.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All roles filled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_03</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_03.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B. Staffing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_03</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_04</name>
        <label>Build Task 05: Skill match verified</label>
        <locationX>176</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_04.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skill match verified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_04</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_04.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B. Staffing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_04</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_05</name>
        <label>Build Task 06: Lead assigned</label>
        <locationX>176</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_05.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_05</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_05.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B. Staffing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_05</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_06</name>
        <label>Build Task 07: Backup coverage confirmed</label>
        <locationX>176</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_06.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backup coverage confirmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_06</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_06.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B. Staffing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_06</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_07</name>
        <label>Build Task 08: R&amp;R rotation scheduled and covered</label>
        <locationX>176</locationX>
        <locationY>1600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_07.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>R&amp;R rotation scheduled and covered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_07</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_07.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>B. Staffing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_07</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_08</name>
        <label>Build Task 09: Certifications verified</label>
        <locationX>176</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_08.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certifications verified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_08</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_08.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_08</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_09</name>
        <label>Build Task 10: Site-specific safety plan complete</label>
        <locationX>176</locationX>
        <locationY>2000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_09.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site-specific safety plan complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_09</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_09.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_09</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_10</name>
        <label>Build Task 11: PPE and uniforms confirmed and in-stock</label>
        <locationX>176</locationX>
        <locationY>2200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_10.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPE and uniforms confirmed and in-stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_10.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_11</name>
        <label>Build Task 12: Hazard analysis complete</label>
        <locationX>176</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_11.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hazard analysis complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_11.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_12</name>
        <label>Build Task 13: JSEA review completed</label>
        <locationX>176</locationX>
        <locationY>2600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_12.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JSEA review completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_12.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_12</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_13</name>
        <label>Build Task 14: LOTO forms verified</label>
        <locationX>176</locationX>
        <locationY>2800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_13.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LOTO forms verified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_13.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>C. Safety</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_13</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_14</name>
        <label>Build Task 15: Crew trained for scope</label>
        <locationX>176</locationX>
        <locationY>3000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_14.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Crew trained for scope</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_14.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D. Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_14</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_15</name>
        <label>Build Task 16: Skill gaps addressed</label>
        <locationX>176</locationX>
        <locationY>3200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_15.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skill gaps addressed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_15.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D. Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_15</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cond_Task_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_16</name>
        <label>Build Task 17: SSE identified and training scheduled</label>
        <locationX>176</locationX>
        <locationY>3400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_16.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSE identified and training scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_16</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_16.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D. Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_16</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_17</name>
        <label>Build Task 18: Tools staged</label>
        <locationX>176</locationX>
        <locationY>3600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_17.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tools staged</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_17</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_17.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E. Tools + Fleet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_17</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_18</name>
        <label>Build Task 19: Equipment ordered</label>
        <locationX>176</locationX>
        <locationY>3800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_18.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equipment ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_18.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E. Tools + Fleet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_18</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cond_Task_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_19</name>
        <label>Build Task 20: Trucks assigned</label>
        <locationX>176</locationX>
        <locationY>4000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_19.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trucks assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_19</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_19.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E. Tools + Fleet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_19</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cond_Task_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_20</name>
        <label>Build Task 21: Flights and ground transport booked</label>
        <locationX>176</locationX>
        <locationY>4200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_20.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flights and ground transport booked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_20</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_20.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E. Tools + Fleet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_21</name>
        <label>Build Task 22: Materials ordered</label>
        <locationX>176</locationX>
        <locationY>4400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_21.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materials ordered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_21</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_21.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F. Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_21</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_22</name>
        <label>Build Task 23: Delivery coordinated with site</label>
        <locationX>176</locationX>
        <locationY>4600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_22.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery coordinated with site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_22</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_22.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>F. Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_22</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_23</name>
        <label>Build Task 24: Timeline locked</label>
        <locationX>176</locationX>
        <locationY>4800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_23.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Timeline locked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_23</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_23.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G. Schedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_23</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_24</name>
        <label>Build Task 25: Daily production targets set</label>
        <locationX>176</locationX>
        <locationY>5000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_24.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily production targets set</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_24</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_24.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G. Schedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_24</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_25</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_25</name>
        <label>Build Task 26: Contingency defined</label>
        <locationX>176</locationX>
        <locationY>5200</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_25.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contingency defined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_25</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_25.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G. Schedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_25</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_26</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_26</name>
        <label>Build Task 27: Scope confirmed with client</label>
        <locationX>176</locationX>
        <locationY>5400</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_26.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scope confirmed with client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DylanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_26</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_26.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>H. Client Alignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_26</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_27</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_27</name>
        <label>Build Task 28: Documentation expectations detailed</label>
        <locationX>176</locationX>
        <locationY>5600</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_27.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentation expectations detailed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectLeadOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_27</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_27.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>H. Client Alignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_27</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_28</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_28</name>
        <label>Build Task 29: Success criteria defined</label>
        <locationX>176</locationX>
        <locationY>5800</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_28.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success criteria defined</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_28</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_28.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>H. Client Alignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_28</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Task_29</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_29</name>
        <label>Build Task 30: Pre-Mob sign-off: ready to mobilize</label>
        <locationX>176</locationX>
        <locationY>6000</locationY>
        <assignmentItems>
            <assignToReference>TaskVar_29.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Mob sign-off: ready to mobilize</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IanUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDueDate_29</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.Is_Gate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar_29.Pre_Mob_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign-off</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar_29</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Tasks</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IanUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{IAN_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>AmandaUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{AMANDA_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>DylanUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{DYLAN_USER_ID}}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Cond_Task_16</name>
        <label>Conditional Task 17: SSE identified and training scheduled</label>
        <locationX>176</locationX>
        <locationY>3340</locationY>
        <defaultConnector>
            <targetReference>Build_Task_17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Include_16</name>
            <label>Include</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsNewHires</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Task_16</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Cond_Task_19</name>
        <label>Conditional Task 20: Trucks assigned</label>
        <locationX>176</locationX>
        <locationY>3940</locationY>
        <defaultConnector>
            <targetReference>Cond_Task_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Include_19</name>
            <label>Include</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsDriveOrMixed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Task_19</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Cond_Task_20</name>
        <label>Conditional Task 21: Flights and ground transport booked</label>
        <locationX>176</locationX>
        <locationY>4140</locationY>
        <defaultConnector>
            <targetReference>Build_Task_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Include_20</name>
            <label>Include</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsFlyOrMixed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Task_20</targetReference>
            </connector>
        </rules>
    </decisions>
    <description>Record-triggered flow on Project__c (Work Order) create. Generates the canonical Pre-Mob task checklist as Task records related to the Work Order, with owners, due dates offset from Mobilization_Date__c, and gate flags. Conditional tasks gate on Requires_New_Hires__c and Method_of_Mobilization__c. Generated by scripts/generate_premob_flow.py.</description>
    <formulas>
        <name>fEffectiveBaseDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Mobilization_Date__c}), TODAY(), {!$Record.Mobilization_Date__c})</expression>
    </formulas>
    <formulas>
        <name>fEffectiveProjectLead</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Project_Lead__c}), {!IanUserId}, {!$Record.Project_Lead__c})</expression>
    </formulas>
    <formulas>
        <name>fIsDriveOrMixed</name>
        <dataType>Boolean</dataType>
        <expression>OR(TEXT({!$Record.Method_of_Mobilization__c}) = "Drive", TEXT({!$Record.Method_of_Mobilization__c}) = "Mixed")</expression>
    </formulas>
    <formulas>
        <name>fIsFlyOrMixed</name>
        <dataType>Boolean</dataType>
        <expression>OR(TEXT({!$Record.Method_of_Mobilization__c}) = "Fly", TEXT({!$Record.Method_of_Mobilization__c}) = "Mixed")</expression>
    </formulas>
    <formulas>
        <name>fIsNewHires</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Requires_New_Hires__c}</expression>
    </formulas>
    <formulas>
        <name>fDueDate_00</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 14</expression>
    </formulas>
    <formulas>
        <name>fDueDate_01</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 14</expression>
    </formulas>
    <formulas>
        <name>fDueDate_02</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 12</expression>
    </formulas>
    <formulas>
        <name>fDueDate_03</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_04</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_05</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_06</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_07</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_08</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_09</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_10</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_11</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_12</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_13</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_14</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_15</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_16</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_17</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_18</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_19</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_20</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_21</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 10</expression>
    </formulas>
    <formulas>
        <name>fDueDate_22</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_23</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_24</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 3</expression>
    </formulas>
    <formulas>
        <name>fDueDate_25</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 3</expression>
    </formulas>
    <formulas>
        <name>fDueDate_26</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 7</expression>
    </formulas>
    <formulas>
        <name>fDueDate_27</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fDueDate_28</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 3</expression>
    </formulas>
    <formulas>
        <name>fDueDate_29</name>
        <dataType>Date</dataType>
        <expression>{!BaseDate} - 1</expression>
    </formulas>
    <label>Generate Pre-Mob Tasks</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Tasks</name>
        <label>Create All Pre-Mob Tasks</label>
        <locationX>176</locationX>
        <locationY>9000</locationY>
        <inputReference>TasksToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Mob</stringValue>
            </value>
        </filters>
        <connector>
            <targetReference>Set_Base_Date_And_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectLeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BaseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_00</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_01</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_02</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_03</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_04</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_05</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_06</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_07</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_08</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_09</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_11</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_12</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_13</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_14</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_15</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_16</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_17</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_18</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_19</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_20</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_21</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_22</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_23</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_24</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_25</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_26</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_27</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_28</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar_29</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>