force-app/main/default/flows/Overdue_Gate_Task_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Escalated</name>
        <label>Notify Owner + Nikki (Escalated)</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OverdueRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fEscalatedTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <connector>
            <targetReference>Mark_Escalated</targetReference>
        </connector>
    </actionCalls>
    <actionCalls>
        <name>Notify_Standard</name>
        <label>Notify Owner (Standard Overdue)</label>
        <locationX>300</locationX>
        <locationY>720</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OverdueRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fStandardTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Task_Owner</name>
        <label>Add Task Owner to Recipients</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>OverdueRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Escalation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Nikki</name>
        <label>Escalate: Add Nikki</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>OverdueRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NikkiUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Escalated</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NikkiUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{NIKKI_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotificationTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{HTS_PO_ALERT_TYPE_ID}}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Escalation</name>
        <label>3+ Days Overdue and Not Yet Escalated?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Notify_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Overdue</defaultConnectorLabel>
        <rules>
            <name>Should_Escalate</name>
            <label>Escalate to Nikki</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fDaysOverdue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Escalated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Nikki</targetReference>
            </connector>
        </rules>
    </decisions>
    <description>Scheduled flow that runs daily at 8 AM org time. Finds gate tasks (Is_Gate__c=true) that are overdue and not yet completed; notifies the task owner via Custom Notification. If the task is 3+ days overdue and not yet escalated, also notifies Nikki and sets Escalated__c=true to prevent further escalation. Standard overdue notifications fire daily until the task is completed.</description>
    <formulas>
        <name>fDaysOverdue</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.ActivityDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fEscalatedTitle</name>
        <dataType>String</dataType>
        <expression>"ESCALATED: Overdue Gate Task - " &amp; {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>fStandardTitle</name>
        <dataType>String</dataType>
        <expression>"Overdue Gate Task: " &amp; {!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>fNotificationBody</name>
        <dataType>String</dataType>
        <expression>"Task \"" &amp; {!$Record.Subject} &amp; "\" was due " &amp; TEXT({!$Record.ActivityDate}) &amp; " (" &amp; TEXT({!fDaysOverdue}) &amp; " days overdue). Please update status."</expression>
    </formulas>
    <interviewLabel>Overdue Gate Task Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Overdue Gate Task Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_Escalated</name>
        <label>Mark Task as Escalated</label>
        <locationX>50</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Escalated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overdue_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Task_Owner</targetReference>
        </connector>
        <filterFormula>{!$Record.Is_Gate__c} &amp;&amp; ({!$Record.Status} &lt;&gt; "Completed") &amp;&amp; ({!$Record.ActivityDate} &lt; TODAY())</filterFormula>
        <object>Task</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-05-29</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OverdueRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
