force-app/main/default/flows/PO_Low_Balance_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_PO_Alert</name>
        <label>Notify Amanda + Nikki</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>NotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AlertRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <connector>
            <targetReference>Create_Low_Balance_Log</targetReference>
        </connector>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Build_Recipient_List</name>
        <label>Build Recipient List</label>
        <locationX>50</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>AlertRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlertRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NikkiUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_PO_Alert</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AmandaUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{AMANDA_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>NikkiUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{NIKKI_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotificationTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{HTS_PO_ALERT_TYPE_ID}}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Route_Alert</name>
        <label>Route Alert</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>No-op</defaultConnectorLabel>
        <rules>
            <name>Below_And_Not_Sent</name>
            <label>Below threshold and not yet alerted</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsBelowThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Recipient_List</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Above_And_Sent</name>
            <label>Above threshold but flag was set: reset</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsAboveThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recovery_Log</targetReference>
            </connector>
        </rules>
    </decisions>
    <description>Record-triggered flow on Project__c create/update. When the PO remaining percentage drops below the per-Work-Order threshold AND the alert has not yet been sent, sends a Custom Notification to Amanda and Nikki and sets PO_Alert_Sent__c=true. Resets the flag when the percentage rises back above the threshold (e.g., after a change order brings balance up).</description>
    <formulas>
        <name>fThresholdValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.PO_Alert_Threshold__c}), 15, {!$Record.PO_Alert_Threshold__c})</expression>
    </formulas>
    <formulas>
        <name>fIsBelowThreshold</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Percent_Remaining__c})),
  {!$Record.Percent_Remaining__c} &lt; {!fThresholdValue},
  TEXT({!$Record.Stage__c}) &lt;&gt; "Closed"
)</expression>
    </formulas>
    <formulas>
        <name>fIsAboveThreshold</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Percent_Remaining__c})),
  {!$Record.Percent_Remaining__c} &gt;= {!fThresholdValue}
)</expression>
    </formulas>
    <formulas>
        <name>fNotificationTitle</name>
        <dataType>String</dataType>
        <expression>"Low PO Balance: " &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>fNotificationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; " has dropped below its PO alert threshold. Review billing and PO status."</expression>
    </formulas>
    <label>PO Low Balance Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Low_Balance_Log</name>
        <label>Create Low Balance audit log</label>
        <locationX>50</locationX>
        <locationY>420</locationY>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alert_Type__c</field>
            <value>
                <stringValue>Low Balance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remaining_Balance_At_Trigger__c</field>
            <value>
                <elementReference>$Record.Remaining_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Remaining_At_Trigger__c</field>
            <value>
                <elementReference>$Record.Percent_Remaining__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient__c</field>
            <value>
                <elementReference>AmandaUserId</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Alert_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Set_Alert_Sent_True</targetReference>
        </connector>
    </recordCreates>
    <recordCreates>
        <name>Create_Recovery_Log</name>
        <label>Create Balance Recovered audit log</label>
        <locationX>300</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Alert_Type__c</field>
            <value>
                <stringValue>Balance Recovered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_At__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remaining_Balance_At_Trigger__c</field>
            <value>
                <elementReference>$Record.Remaining_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Remaining_At_Trigger__c</field>
            <value>
                <elementReference>$Record.Percent_Remaining__c</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Alert_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Reset_Alert_Flag</targetReference>
        </connector>
    </recordCreates>
    <recordUpdates>
        <name>Set_Alert_Sent_True</name>
        <label>Set PO Alert Sent = true</label>
        <locationX>50</locationX>
        <locationY>480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Alert_Flag</name>
        <label>Reset PO Alert Sent = false</label>
        <locationX>300</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Alert_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Route_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>