force-app/main/default/flows/PO_Low_Balance_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>AmandaUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{AMANDA_USER_ID}}</stringValue>
        </value>
    </constants>
    <constants>
        <name>NikkiUserId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{{NIKKI_USER_ID}}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Route_Alert</name>
        <label>Route Alert</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>No-op</defaultConnectorLabel>
        <rules>
            <name>Below_And_Not_Sent</name>
            <label>Below threshold and not yet alerted</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsBelowThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alert_Sent_True</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Above_And_Sent</name>
            <label>Above threshold but flag was set: reset</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fIsAboveThreshold</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Alert_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Alert_Flag</targetReference>
            </connector>
        </rules>
    </decisions>
    <description>Record-triggered flow on Project__c create/update. Sets PO_Alert_Sent__c=true when the PO remaining percentage drops below the per-Work-Order threshold; resets the flag when it rises back above. The Chatter @mention to Amanda + Nikki is intentionally omitted in this version — wire it up in Flow Builder once Chatter is configured.</description>
    <formulas>
        <name>fThresholdValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.PO_Alert_Threshold__c}), 15, {!$Record.PO_Alert_Threshold__c})</expression>
    </formulas>
    <formulas>
        <name>fIsBelowThreshold</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Percent_Remaining__c})),
  {!$Record.Percent_Remaining__c} &lt; {!fThresholdValue},
  TEXT({!$Record.Stage__c}) &lt;&gt; "Closed"
)</expression>
    </formulas>
    <formulas>
        <name>fIsAboveThreshold</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!$Record.Percent_Remaining__c})),
  {!$Record.Percent_Remaining__c} &gt;= {!fThresholdValue}
)</expression>
    </formulas>
    <label>PO Low Balance Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Alert_Sent_True</name>
        <label>Set PO Alert Sent = true</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Alert_Flag</name>
        <label>Reset PO Alert Sent = false</label>
        <locationX>300</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Alert_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Route_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
