force-app/main/default/flows/Watchdog_Monitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <label>Watchdog Monitor</label>
    <description>Flow 6: Daily watchdog at 9 AM CT — catches scheduler failures (missed touches) and JIT pipeline issues (missing copy). Alerts travis@appliedintelligenceai.co.</description>
    <status>Active</status>
    <processType>AutoLaunchedFlow</processType>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <scheduledPaths>
            <name>Daily_9AM_CT</name>
            <label>Daily 9 AM CT</label>
            <connector>
                <targetReference>Get_Missed_Touch_Contacts</targetReference>
            </connector>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <schedule>
            <frequency>Daily</frequency>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>

    <!-- Variables for collecting alert data -->
    <variables>
        <name>MissedTouchContactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MissedTouchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MissingCopyContactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MissingCopyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

    <!-- Formula: 3 days from now for missing copy check -->
    <formulas>
        <name>Three_Days_From_Now</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>

    <!-- Query 1: Missed Touches — Active contacts with overdue Next_Touch_Date -->
    <recordLookups>
        <name>Get_Missed_Touch_Contacts</name>
        <label>Get Missed Touch Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <object>Contact</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Next_Touch_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclude_From_Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Loop_Missed_Touches</targetReference>
        </connector>
    </recordLookups>

    <!-- Loop: Build missed touch contact ID list -->
    <loops>
        <name>Loop_Missed_Touches</name>
        <label>Loop Missed Touches</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <collectionReference>Get_Missed_Touch_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Missed_Touch_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Missed_Touches</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- Assignment: Append contact ID to missed touch list -->
    <assignments>
        <name>Append_Missed_Touch_Id</name>
        <label>Append Missed Touch Id</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MissedTouchContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MissedTouchContactIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MissedTouchContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Missed_Touches.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MissedTouchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Missed_Touches</targetReference>
        </connector>
    </assignments>

    <!-- Decision: Are there missed touches? -->
    <decisions>
        <name>Check_Missed_Touches</name>
        <label>Check Missed Touches</label>
        <locationX>176</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Get_Missing_Copy_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Missed Touches</defaultConnectorLabel>
        <rules>
            <name>Has_Missed_Touches</name>
            <label>Has Missed Touches</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissedTouchCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Missed_Touch_Alert</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- Action: Send Missed Touch Alert Email -->
    <actionCalls>
        <name>Send_Missed_Touch_Alert</name>
        <label>Send Missed Touch Alert</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>travis@appliedintelligenceai.co</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Watchdog Alert: Missed Touches Detected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Missed_Touch_Email_Body</elementReference>
            </value>
        </inputParameters>
        <connector>
            <targetReference>Get_Missing_Copy_Contacts</targetReference>
        </connector>
    </actionCalls>

    <!-- Formula: Missed Touch Email Body -->
    <formulas>
        <name>Missed_Touch_Email_Body</name>
        <dataType>String</dataType>
        <expression>"Watchdog: " &amp; TEXT({!MissedTouchCount}) &amp; " contacts have overdue touches that weren't processed by the 7 AM scheduler." &amp; BR() &amp; BR() &amp;
"Contact IDs: " &amp; {!MissedTouchContactIds} &amp; BR() &amp; BR() &amp;
"Investigate scheduler execution. These contacts had Next_Touch_Date before today but were not advanced."</expression>
    </formulas>

    <!-- Query 2: Missing Copy — Active contacts approaching touches with blank draft fields -->
    <recordLookups>
        <name>Get_Missing_Copy_Contacts</name>
        <label>Get Missing Copy Contacts</label>
        <locationX>176</locationX>
        <locationY>746</locationY>
        <object>Contact</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Next_Touch_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Three_Days_From_Now</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclude_From_Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Loop_Missing_Copy</targetReference>
        </connector>
    </recordLookups>

    <!-- Loop: Check each contact for missing copy -->
    <loops>
        <name>Loop_Missing_Copy</name>
        <label>Loop Missing Copy</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Missing_Copy_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Draft_Field_For_Touch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Missing_Copy</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- Decision: Check if the next draft field is blank based on Current_Touch -->
    <decisions>
        <name>Check_Draft_Field_For_Touch</name>
        <label>Check Draft Field For Touch</label>
        <locationX>264</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>Loop_Missing_Copy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Copy Present or Non-Email Touch</defaultConnectorLabel>
        <rules>
            <name>Missing_Copy_Touch_2</name>
            <label>Touch 2 - Missing Intro Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_Intro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Missing_Copy_Touch_3</name>
            <label>Touch 3 - Missing Value1 Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_Value1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Missing_Copy_Touch_6</name>
            <label>Touch 6 - Missing FollowUp Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_FollowUp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Missing_Copy_Touch_7</name>
            <label>Touch 7 - Missing Value2 Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_Value2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Missing_Copy_Touch_10</name>
            <label>Touch 10 - Missing DirectAsk Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_DirectAsk__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Missing_Copy_Touch_13</name>
            <label>Touch 13 - Missing Pause Email</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Current_Touch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Missing_Copy.Email_Draft_Pause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Missing_Copy_Id</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- Assignment: Append missing copy contact ID -->
    <assignments>
        <name>Append_Missing_Copy_Id</name>
        <label>Append Missing Copy Id</label>
        <locationX>352</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>MissingCopyContactIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MissingCopyContactIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MissingCopyContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Missing_Copy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MissingCopyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Missing_Copy</targetReference>
        </connector>
    </assignments>

    <!-- Decision: Are there missing copy contacts? -->
    <decisions>
        <name>Check_Missing_Copy</name>
        <label>Check Missing Copy</label>
        <locationX>176</locationX>
        <locationY>1178</locationY>
        <defaultConnectorLabel>No Missing Copy</defaultConnectorLabel>
        <rules>
            <name>Has_Missing_Copy</name>
            <label>Has Missing Copy</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingCopyCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Missing_Copy_Alert</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- Action: Send Missing Copy Alert Email -->
    <actionCalls>
        <name>Send_Missing_Copy_Alert</name>
        <label>Send Missing Copy Alert</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>travis@appliedintelligenceai.co</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Watchdog Alert: Missing Copy Detected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Missing_Copy_Email_Body</elementReference>
            </value>
        </inputParameters>
    </actionCalls>

    <!-- Formula: Missing Copy Email Body -->
    <formulas>
        <name>Missing_Copy_Email_Body</name>
        <dataType>String</dataType>
        <expression>"Watchdog: " &amp; TEXT({!MissingCopyCount}) &amp; " contacts are approaching touches with missing copy. JIT pipeline may have failed." &amp; BR() &amp; BR() &amp;
"Contact IDs: " &amp; {!MissingCopyContactIds} &amp; BR() &amp; BR() &amp;
"These contacts have Next_Touch_Date within the next 3 days but the required draft copy field is blank. Investigate JIT pipeline execution."</expression>
    </formulas>
</Flow>
